speech_commands_v0.01.tar.gz
_background_noise_/*
bed/*
cat/*
dog/*
down/*
eight/*
five/*
four/*
go/*
happy/*
house/*
left/*
marvin/*
nine/*
ten/*
bird/*
right/*
on/*
off/*
one/*
two/*
three/*
six/*
seven/*
sheila/*
stop/*
up/*
tree/*
yes/*
wow/*
zero/*
no/*
